---
import { Picture, Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../../consts";
import profileA from "../../images/profileA.png"
import profileB from "../../images/profileB.png"
const SITE_TITLE_UPP = SITE_TITLE.toUpperCase();

// import profilePicA from "../../assets/profileA.png";
// import profilePicB from "../../assets/profileB.png";
---

<h2 id="meet-our-team" class="mt-16 border-b-2 text-2xl">Meet Our Team</h2>
<div class="mt-8 grid gap-8 sm:grid-cols-2 justify-center">
  <div class="profileA flex flex-col items-center">
    <!-- <Picture class="m-auto mb-1 max-w-[80%] lg:max-w-[65%] p-8 rounded-full" src={profilePicA} widths={widths} aspectRatio="1:1" alt="Diogo" /> -->
    <Picture
      class="m-auto mb-1 h-auto max-w-[15rem] md:max-w-xs p-4 sm:p-8 rounded-full"
      src={profileA}
      alt="Diogo"
      widths={[200,300]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
    <h2 class="text-xl">Diogo Pereira</h2>
    <p class="text-sm font-semibold leading-6 text-sky-600">
      Civil & Structural Engineer, Project manager
    </p>
    <p class="mb-3 text-sm font-semibold text-sky-600">Co-Founder</p>
    <p>
      Diogo is a chartered engineer with extended experience of new-build,
      refurbishment and extension projects in several sectors i.e. High-rise
      buildings, Rail, Educational, Heath Care and Commercial structures. He has
      a strong engineering knowledge and attention to detail which enables him
      to effectively identify design and commercial opportunities to create
      efficiencies and add value to the project. He also specialises in BIM and
      automation development, looking to drive innovation in the engineering
      field. This enables him to increase team productivity and successfully
      deliver significant projects on tight schedules, including Crossrail
      delivery.
    </p>
  </div>
  <div class="profileB flex flex-col items-center">
    <!-- <Picture class="m-auto mb-1 max-w-[80%] lg:max-w-[65%] p-8 rounded-full" src={profilePicB} widths={widths} aspectRatio="1:1" alt="Spyros" /> -->
    <Picture
      class="m-auto mb-1 h-auto max-w-[15rem] md:max-w-xs p-4 sm:p-8 rounded-full"
      src={profileB}
      alt="Spyros"
      widths={[200,300]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
    <h2 class="text-xl">Spyros Gavriilidis</h2>
    <p class="text-sm font-semibold leading-6 text-sky-600">
      Civil & Structural Engineer, BIM manager
    </p>
    <p class="mb-3 text-sm font-semibold text-sky-600">Co-Founder</p>
    <p>
      <p>
        Spyros is a chartered engineer with extended experience of new-build,
        refurbishment and extension projects in several sectors i.e. High-rise
        buildings, Rail, Educational, Heath Care and Commercial structures. He
        has a strong engineering knowledge and attention to detail which enables
        him to effectively identify design and commercial opportunities to
        create efficiencies and add value to the project. He also specialises in
        BIM and automation development, looking to drive innovation in the
        engineering field. This enables him to increase team productivity and
        successfully deliver significant projects on tight schedules, including
        Crossrail delivery.
      </p>
    </p>
  </div>
</div>
