---
import { Icon } from "astro-icon";
import { Picture, Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";
import Layout from "../Layout/BaseLayout.astro";
import Container from "../components/container.astro";

import Sectors from "../components/index/sectors.astro";

import structimg from "../images/ptrn-girders.jpeg";
import civilimg from "../images/bird-view.jpeg";
import bimimg from "../images/bim-metro.jpeg";
---

<Layout title="Our services">
  <Container>
    <p>
      At <span class="font-bold">{SITE_TITLE}</span>, we offer a wide range of
      professional services in the field of structural and civil engineering, as
      well as cutting-edge BIM (Building Information Modeling) and 3D modeling
      solutions. Our expert team is dedicated to delivering innovative and
      reliable solutions tailored to meet your project's specific needs.
    </p>
    <div class="mt-12 flex max-w-7xl flex-col sm:mt-32">
      <div
        class="flex max-w-7xl flex-wrap-reverse items-center justify-end overflow-hidden">
        <div
          class="relative bottom-12 left-0 w-80 bg-zinc-800 p-6 text-white sm:p-8 lg:bottom-0 lg:left-12">
          <h1 class="text-2xl">Structural Engineering</h1>
          <ul class="list-disc">
            <li class="font-bold">Building structurest</li>
            <li class="font-bold">Bridges and Infrastructure</li>
            <li class="font-bold">Low carbon structures</li>
            <li class="font-bold">Timber engineering</li>
            <li class="font-bold">Modern methods of construction</li>
            <li class="font-bold">Parametric design</li>
            <li class="font-bold">Basements</li>
            <li class="font-bold">Specialist advice & Value engineering</li>
            <li class="font-bold">Tall buildings</li>
            <li class="font-bold">Strategic advice</li>
            <!-- <li>
            We specialise in structural the design and analysis. Our team
            employs advanced software and techniques to develop safe, efficient,
            and cost-effective structural designs.
          </p> -->
          </ul>
        </div>
        <Image
          class="relative -z-10 max-w-lg rounded-xl"
          src={structimg}
          aspectRatio="18:13"
          width={600}
          height={433}
          format="png"
          alt="structures"
        />
      </div>
      <div
        class="flex max-w-7xl flex-wrap items-center justify-start overflow-hidden lg:mt-12">
        <Image
          class="relative -z-10 max-w-lg rounded-xl"
          src={civilimg}
          aspectRatio="18:13"
          width={600}
          height={433}
          format="png"
          alt="Civil"
        />
        <div
          class="relative bottom-12 right-0 w-80 bg-zinc-800 p-6 text-white sm:p-8 lg:bottom-0 lg:right-12">
          <h1 class="text-2xl">Civil Engineering</h1>
          <ul class="list-disc">
            <li class="font-bold">Sustainable Drainage Strategies</li>
            <li class="font-bold">
              Strategic infrastructure advice and Master-planning
            </li>
            <li class="font-bold">Site-wide level design</li>
            <!-- <li >
            Our civil engineering services encompass site development, grading,
            drainage, and utility design for both residential and commercial
            projects.
          </p> -->
          </ul>
        </div>
      </div>
      <div
        class="flex max-w-7xl flex-wrap-reverse items-center justify-end overflow-hidden lg:mt-12">
        <div
          class="relative bottom-12 left-0 w-80 bg-zinc-800 p-6 text-white sm:p-8 lg:bottom-0 lg:left-12">
          <h1 class="text-2xl">Digital BIM</h1>
          <ul class="list-disc">
            <li class="font-bold">Strategic BIM advice</li>
            <li class="font-bold">3D Modeling</li>
            <li class="font-bold">Management/Coordination</li>
            <li class="font-bold">Clash detection</li>
            <li class="font-bold">BIM execution plan (BEP)</li>
            <li class="font-bold">Client-specific BIM strategy(EIR)</li>
          </ul>
        </div>

        <Image
          class="relative -z-10 max-w-lg rounded-xl"
          src={bimimg}
          aspectRatio="18:13"
          width={600}
          height={433}
          format="png"
          alt="bim"
        />
      </div>
    </div>
    <div class="mt-12 lg:mt-32">
      At <span class="font-bold">{SITE_TITLE}</span>, we are motivated by the
      chance to make a difference in people's lives and improve their
      communities. We take satisfaction in creating infrastructure that enhances
      quality of life, promotes sustainability, and contributes to economic
      growth.
    </div>
    <div class="mt-6 sm:mt-12">
      <h1 class="mb-24 text-2xl">
        We offer a range of services in various sectors
      </h1>
      <Sectors />
    </div>

    <div class="mt-12 flex flex-col md:mt-24 md:flex-row md:items-center">
      <div class="mr-8 min-w-[220px] text-4xl">Discover the Difference</div>

      <div class="flex flex-col items-start">
        <div class="mt-4 flex flex-col items-end md:mt-0">
          <span class="relative left-1 top-2 flex h-3 w-3">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-500 opacity-75"
            ></span>
            <span class="relative inline-flex h-3 w-3 rounded-full bg-sky-600"
            ></span>
          </span>
          <!-- class="group inline-flex justify-center rounded-lg shadow-sm text-sm font-semibold py-3 px-4 bg-white text-zinc-800 ring-1 ring-zinc-300 hover:text-white hover:bg-zinc-800 hover:ring-zinc-900" -->
          <a
            class="inline-flex justify-center rounded-lg bg-white px-4 py-3 text-sm font-semibold text-zinc-800 shadow-sm ring-1 ring-zinc-700/10 hover:bg-zinc-100"
            href="/contact">
            Get in touch &nbsp;<span
              aria-hidden="true"
              class="text-zinc/50 sm:inline">→</span
            >
          </a>
        </div>
      </div>
    </div>
  </Container>
</Layout>
