---
import { Icon } from "astro-icon";
import { SITE_TITLE, SITE_TITLE_SMALL, EMAIL } from "../consts";
// const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list="relative  border-t border-gray-200 ">
  <div
    class="relative col-start-3 mx-auto mt-16 grid h-60 grid-cols-1 grid-rows-3 justify-items-center bg-zinc-200 px-4 sm:col-start-1 sm:mt-32 sm:grid-cols-3 sm:px-6"
  >
    <!-- 1 -->
    <div
      class="flex flex-none flex-col items-center justify-around py-6 sm:items-start sm:py-2"
    >
      <div class="text-md">
        {SITE_TITLE}
      </div>
      <div class="text-sm text-zinc-600">
        Engineering a better Future, <span class="text-sky-600">Together</span>
      </div>
    </div>
    <!-- 2 -->
    <div class="p-2"></div>
    <!-- 3 -->
    <a class="p-2 text-xl" href=`mailto:vantagede@outlook.com`>info@{EMAIL}</a>
    <!-- <a class="p-2 text-xl" href=`mailto:info@${EMAIL}`>info@{EMAIL}</a> -->
    <!-- 4 -->
    <div class="p-2"></div>
    <!-- 5 -->
    <a class="inline-block p-6 text-xl font-bold" href="#"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-10 w-10"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm.53 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v5.69a.75.75 0 001.5 0v-5.69l1.72 1.72a.75.75 0 101.06-1.06l-3-3z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>
  <div
    class="grid grid-cols-1 justify-start gap-4 bg-zinc-200 px-6 py-2 text-xs text-zinc-600 sm:grid-cols-2"
  >
    © 2023 {SITE_TITLE} | All rights reserved.
  </div>
</footer>
