---
import "../styles/base.css";
import Header from "../components/navbar/header.astro";
import Footer from "../components/footer.astro";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";

const { site } = Astro;
// const image = new URL("social.jpg", site);
const description =
  "Exceptional Civil & structural engineering consultancy services that deliver robust and innovative solutions for your projects.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="icon" href="/chevron-double.svg" type="image/svg+xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />

    <title>{SITE_TITLE_SMALL}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Vantage Design & Engineering" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={image} /> -->
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden text-base selection:bg-zinc-800 selection:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
